* {
  font-family: "Road rage", cursive;
  font-size: larger;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("bgimg.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

#gameboards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3vw;
}

#gameboard1,
#gameboard2 {
  /*  display: flex;
  flex-direction: column;*/
  width: 33vw;
  height: 33vw;
}
h2 {
  margin-left: auto;
  text-align: center;
  padding: 3vh 3vh 3vh 3vh;
}

#gameboard2 .box {
  background-color: rgb(89, 132, 182);
  opacity: 0.7;
}

.row {
  display: flex;
  border: 1px solid black;
  min-height: 3.3vw;
}

.box,
.box1 {
  background-color: rgb(89, 132, 182);
  opacity: 0.7;
  border-left: 1px solid black;
  border-right: 1px solid black;
  width: 10vw;
}

#gameboard2 .box:hover {
  background-color: rgb(59, 59, 59);
  opacity: 0.5;
}

/* Probably need to separate these later in order to make enemy ships invisible! */
#gameboard1 .shipBox {
  background-color: rgb(59, 59, 59);
}

#gameboard2 .shipBox {
  /*background-color: rgb(89, 132, 182); väliaikasesti näkyviin*/
  background-color: rgb(59, 59, 59);
}

#replay {
  background-color: rgb(143, 255, 143);
  border-radius: 5px;
  padding: 1vh;
  margin: 2vh 2vh 2vh 2vh;
  font-size: 1.6rem;
}

#replay:hover {
  background-color: rgb(202, 202, 202);
}

#turn {
  background-color: rgb(143, 255, 143);
  border-radius: 5px;
}
#turn:hover {
  background-color: rgb(202, 202, 202);
}
